/* general */
.body{
    font-family :'Courier New', Courier, monospace;
}

/* Section opening */
#imgbebechat{
    width:10rem;
}

/* Section main */

#imageOfcat{
    width:50%;
}
.movecat {
    animation: movecat 5s linear 0s infinite;
}

@keyframes movecat {
    0%   { transform: rotate(0deg); }
    50%  { transform:rotate(10deg); }
    100% { transform:rotate(0deg); }
    }
.circlebtn{
    border-radius:50%;
    width:5rem;
    height:5rem;
    border:1px solid black;
    object-fit: contain;
}
.circlebtn:hover{
    opacity:0.6;
    width:5.1rem;
    height:5.1rem;
}
.circlebtn p {
    font-size:0.8rem;
}

#modalFeed,#modalHealth,#modalPlay,#modalGift{
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.purun {
    animation: purun 0.8s linear 0s 1;
}

@keyframes purun {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
    15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
    30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
    50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
    70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
    }


    .purupuru {
        animation: purupuru 0.8s linear 0s infinite;
    }

    @keyframes purupuru {
        0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
        20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
        50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
        65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
        80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
        100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
    }

    .poyon {
        animation: poyon 1.1s linear 0s 1;
    }
    
    @keyframes poyon {
        0%   { transform: scale(0.8, 1.4) translate(0%, -100%); }
        10%  { transform: scale(0.8, 1.4) translate(0%, -15%); }
        20%  { transform: scale(1.4, 0.6) translate(0%, 30%); }
        30%  { transform: scale(0.9, 1.1) translate(0%, -10%); }
        40%  { transform: scale(0.95, 1.2) translate(0%, -30%); }
        50%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
        60%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
        70%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
        100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
    }

    .move{
        animation: anim 3s;
    }
    
    @keyframes anim {
        0% {
        transform: translateX(0px);
        }
    
        100% {
        transform: translateX(300px);
        opacity:0;
        }
    }
    
    .pururun {
        animation: pururun 1.2s linear 0.2s 1;
    }
    
        @keyframes pururun {
        0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
        10%  { transform: scale(1.0, 1.0) translate(10%, 0%) skew(-10deg, 0deg); }
        60%  { transform: scale(1.0, 1.0) translate(20%, 0%) skew(-20deg, 0deg); }
        70%  { transform: scale(1.0, 1.0) translate(-15%, 0%) skew(15deg, 0deg); }
        80%  { transform: scale(1.0, 1.0) translate(15%, 0%) skew(-15deg, 0deg); }
        80%  { transform: scale(1.0, 1.0) translate(5%, 0%) skew(-5deg, 0deg); }
        90%  { transform: scale(1.0, 1.0) translate(-5%, 0%) skew(5deg, 0deg); }
        100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
        }
.imglist {
            width:2.5rem;
            text-align:center;
            font-size:8px;
        }
#pointPig{
        position:fixed;
        bottom:1rem;
        right:1rem;
        }
/* slotSection */

        #slotSection{
            margin:0;
            background: #bdc3c7;
            font-size: 16px;
            font-weight: bold;
            font-family: Arial, sans-serif;
        }
        #slotSection h1{
            margin:0;
        }
        #slotSection main{
            width: 22rem;
            background: #ecf0f1;
            padding: 20px;
            border: 4px solid #fff;
            border-radius: 12px;
            display: flex;
        }
        
        .panel img{
            width: 90px;
            height: 110px;
            margin-bottom: 4px;
        }
        
        #spin{
            text-align:center;
            margin:0 auto;
        }
        .disabled{
            opacity:0.6;
        }

/* rock-paper-scissors */       
.movepat {
    animation: movepat 1.5s linear 0s infinite;
}

@keyframes movepat {
    0%   { transform: rotate(0deg); }
    50%  { transform:rotate(90deg); }
    100% { transform:rotate(0deg); }
    }


.balloon1{
    position: relative;
    padding: 20px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    letter-spacing: 0.2em;
    font-size: 14px;
    background-color: orangered;
}
.action{
    background-color:orangered
}
.balloon1 .action ::before {
    border-right: 20px solid orangered;
}

.balloon1::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 2px;
    bottom: 2px;
    border-right: 20px solid orangered;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(-45deg);
}

.pat{
    rotate:180deg;
}
.jankenbtn{
    width:7rem;
    height:7rem;
    border-radius:20%;
    padding:0px;
    background-color:orange;
}

.selected{
    background:orangered;
    width:8rem;
    height:8rem;
}



.jankenbtn img{
    text-align:center
}
    .balloon5 {
        width: 100%;
        margin: 1.5em 0;
        overflow: hidden;
    }
    
    .balloon5 .faceicon {
        float: left;
        margin-right: -90px;
        width: 80px;
    }
    
    .balloon5 .faceicon img{
        width: 100%;
        height: auto;
        border: solid 3px #d7ebfe;
        border-radius: 50%;
    }
    
    .balloon5 .chatting {
        width: 100%;
    }
    
    .says {
        display: inline-block;
        position: relative; 
        margin: 5px 0 0 105px;
        padding: 17px 13px;
        border-radius: 12px;
        background: #d7ebfe;
    }
    
    .says:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 18px; 
        left: -24px;
        border: 12px solid transparent;
        border-right: 12px solid #d7ebfe;
    }
    
    .says p {
        margin: 0;
        padding: 0;
    }

    canvas{
        background: #d7ebfe;
        display:block;
        margin:0 auto;
    }

    #modalBall{
        position:absolute;
        bottom:5rem;
        left:3rem;
    }


    /* size PC:responsive */
    @media (min-width: 800px) {

        #imgbebechat{
            width:15rem;
        }
        #play{
            padding-top:10vh;
            display:flex;
            justify-content:center;
            position:relative;
        }
        
        #imageOfcat{
            position:relative
        }
        .playdiv1{
            width:50vw; 
            height:50vh;
            position: relative; 
            background:transparent;
        }
        .playdiv1::before {    
            content: "";
            background-image:url("../src/image/1514809.jpg");
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.35;
    }
    .settings{
        height:30vh;
    }
    .playdiv3{
            padding:4rem 0 2rem;
            position:relative;
        }
        
        .playconditions{
            margin:0.1rem;
            padding:0.5rem;
            border:1px solid black;
            width:20vw;
            border-radius:1rem; 
            position:absolute;
            left:-8rem;
            top:-2rem;
            background-color:white;
        }
        #images{
            position:absolute;
            bottom:0;
            right:15vw;;
        }
        #imageOfcat{
            width:15vw;
        }
        .playButtons{
            position:absolute;
            bottom:-20vh;
            left:12vw;
        }
        .circlebtn{
            border-radius:50%;
            width:6.2rem;
            height:6.2rem;
            border:1px solid black;
            object-fit: contain;
            margin-right:1rem;
        }
        .circlebtn:hover{
            opacity:0.6;
            width:6.3rem;
            height:6.3rem;
        }
        .circlebtn p {
            font-size:0.8rem;
        }
    
        .imglist {
            width:5.4rem;
            text-align:center;
        }
        .imglist:hover {
            opacity:0.7;
            width:5.5rem;
        }
        #pointPig{
            bottom:3rem;
            right:3rem;
        }
        #modalFeed,#modalHealth,#modalPlay,#modalGift{
            width:60vw;
            border:1px solid black;
            border-radius:1rem;
            background:white;
        }
        #slotContent{
            width:60vw;
            
        }
        #rpsContent{
            width:60vw;
            margin:20 auto;
        }

        #modalSlot,#modalRps{
            width:40vw;
        }
        #modalBall{
        position:absolute;
        right:0;
        }
    }
    
    